<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Rails1005
        <br>Design by
        <a href="http://www.monty.com.cn" target=_new>MT</a>
    </p>
</footer>
